@media  screen and (max-width: 470px){

    .header {
        width: 100%;
    }
    .header_reseau-soc_item--selected{
        margin-left: 1%;
    }
    .header_nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-left:1px;
    }
    .header_nav_logo{
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .header_nav_logo--img{
        margin-left: 10%;
    }
    .header_nav_ul{
        
        display: flex;
        flex-direction: column;
        padding: 3px;
        font-size: 1.2em;
        margin-top:0px; 
    
    }
    .header_nav_item{
       border-top: 1px solid rgb(207, 205, 205);
    }
    .header_nav_item_link{
        margin: 10px;
        padding-left: 10px;
    }
      /*section*/
    .diaporama{
        height: 400px;
 
     }
     .section1{
         width: 90%;
         margin-left: 5px;
         height:260px; 
     }
     .section1_commands {
         display: none;
     }
     .section1_container{
         width: 100%;
         height: 260px;
     }
     .section1_container_slider_figure_img{
         width: 100%;
         height: 260px;
     }
     @keyframes timeliner {
        0%, 17%, 34%, 48%, 62%, 76%, 100%{ width: 0;}
        12%, 29%, 43%, 57%,71%, 90%{ width: 100%; }
    }
     /*SECTION2*/
     .section2{
         margin-left: 0px;
         padding: 2px;
     }
     .section2_contain1{
         margin-left:1px;
         margin-right: 1px;
        
         display:flex;
         flex-direction: column;
     }
     .section2_contain1_article{
        
         width: 100%;
         padding: 0px;
         margin-left: 0px;
     }
     /*destination*/
     .section2_destination{
         margin-left: 0%;
        
     }
     .section2_destination_titre{
         margin-right: 0%;
     }
     .section2_destination_contain2_figure{
         width: 95%;
         margin:2% ; 
         display: flex;
         flex-direction: column;
     }
     .section2_destination_contain2_figure_img{
         width: 100%;

     }
     .section2_destination_commands_prev { 
         display: none;
      }
     .section2_destination_commands_next {
         display: none;
        }
     /* SECTION3 */

     .section3 {
        padding-left: 1%;
        padding-right: 1%;
    }
    .section3_item{
        flex-direction: column;
      
    }
    .section3_item_block {
        width: 100%;
    }

    /* FOOTER */
    .footer_nav {
        margin-left:0px;
        padding-left:0px; 
        height: auto; 
        padding-top: 10px;
        font-size: 1.1em; 
    }
    .footer_nav_ul {
        flex-wrap: wrap;
        width: 300px;
        padding-left: 24px;
        
    }
    .footer_copyright_p {
        margin-left: 24px;
    }
    
}
    